.Home {
  height: calc(100vh - 4rem);
  width: 75vw;
  max-width: 75rem;
  overflow: hidden;
  margin: 0 auto;
  justify-items: center;
  position: relative;
  padding-left: 1rem;
}
.homeImage {
  position: absolute;
  z-index: -1;
  top: 11rem;
  right: -7rem;
  object-fit: contain;
  height: 40vh;
  width: 45vw;
}

.intro {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 200;
  line-height: 1.5;
  margin-top: 18rem;

  letter-spacing: 1px;
}
