.Home {
  height: calc(100vh - 4rem);
  width: 75vw;
  max-width: 75rem;
  overflow: hidden;
  margin: 0 auto;
  justify-items: center;
  position: relative;
  padding-left: 1rem;
}
.homeImage {
  width: 80%;
  height: 50%;
  margin: 0 10rem;
  margin-left: 20rem;

  margin-top: 10rem;
}
