.videos {
  height: calc(75vh - 4rem);
  width: 75vw;
  max-width: 75rem;
  overflow: hidden;
  margin: 0 auto;
  justify-items: center;

  position: relative;
  padding-left: 1rem;
  margin-bottom: 10rem;
}

.VideoSectionTitle {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: 300;
  margin: 1rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.videoContiner {
  justify-content: center;
  align-items: center;
  max-width: 350px;
  padding: 10px;
  border-radius: 15px;
}

.allVideos {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.head__text {
  margin-top: 30px;
}
.videHolder {
  width: 20rem;
  height: 10rem;
}
